In [1]:
import requests

In [2]:
url = 'https://lenta.ru/2013/03/01/'
response = requests.get(url)
response

In [3]:
response.status_code == 404

False

In [4]:
from bs4 import BeautifulSoup

tree = BeautifulSoup(response.content, 'html.parser')

In [5]:
tree.find_all("div", {"class":"titles"})[0].text

'Воробьев отменил покупку «Лексусов» администрацией Ногинска'

In [6]:
tree.find_all("span", {"class":"g-date item__date"})[0].text.split(' —  ')[0]

'01:01'

In [7]:
urls = []
for y in range(2013, 2021):
    for m in range(1, 13):
        for d in range(1, 32):
            if m < 10:
                if d < 10:
                    url = f'https://lenta.ru/{y}/0{m}/0{d}/'
                else:
                    url = f'https://lenta.ru/{y}/0{m}/{d}/'
            elif d < 10:
                url = f'https://lenta.ru/{y}/{m}/0{d}/'
            else:
                url = f'https://lenta.ru/{y}/{m}/{d}/'
            urls.append(url)
for m in range(1, 4):
    for d in range(1, 20):
        if d < 10:
            url = f'https://lenta.ru/2021/0{m}/0{d}/'
        else:
            url = f'https://lenta.ru/2021/0{m}/{d}/'
        urls.append(url)

In [8]:
from tqdm import tqdm
import pandas as pd

In [9]:
len(urls[:1000])

1000

In [10]:
len(urls[1000:2000])

1000

In [11]:
len(urls[2000:])

1033

infa = [ ]
for url in tqdm(urls[:1000]):
    response = requests.get(url)
    if response.status_code == 404:
        pass
    else:
        tree = BeautifulSoup(response.content, 'html.parser')
        titles = tree.find_all("div", {"class":"titles"})
        times = tree.find_all("span", {"class":"g-date item__date"})
        for i in range(len(titles)):
            try:
                title = titles[i].text
                time = times[i].text.split(' —  ')[0]
                infa.append({
                    'Title': title,
                    'Time':time,
                    'Date': url.split('ru/')[-1]
                })
            except:
                pass

In [ ]:
for url in tqdm(urls[1000:]):
    response = requests.get(url)
    if response.status_code == 404:
        pass
    else:
        tree = BeautifulSoup(response.content, 'html.parser')
        titles = tree.find_all("div", {"class":"titles"})
        times = tree.find_all("span", {"class":"g-date item__date"})
        for i in range(len(titles)):
            try:
                title = titles[i].text
                time = times[i].text.split(' —  ')[0]
                infa.append({
                    'Title': title,
                    'Time':time,
                    'Date': url.split('ru/')[-1]
                })
            except:
                pass

 24%|██▍       | 497/2033 [27:59<1:01:49,  2.41s/it]

In [64]:
len(infa)

494726

In [65]:
information = pd.DataFrame(infa)
information

,Title,Time,Date
0,На Триумфальной задержаны 22 активиста оппозиции,00:18,2013/01/01/
1,При взрыве на полигоне под Волгоградом погиб о...,14:07,2013/01/01/
2,Лидер КНДР впервые за 19 лет поздравил согражд...,14:44,2013/01/01/
3,"Сенат США не допустит ""фискального обрыва""",15:46,2013/01/01/
4,Хью Хефнер женился на сбежавшей невесте,17:30,2013/01/01/
...,...,...,...
494721,ФСБ поймала преступников с миллионами рублей и...,16:43 — Сегодня,2021/03/19/
494722,Лукашенко раскрыл подробности «обещания» Путин...,17:07 — Сегодня,2021/03/19/
494723,Nvidia выпустила видеокарту для майнинга,17:22 — Сегодня,2021/03/19/
494724,Путин утвердил пятерку нового состава ЦИК,17:35 — Сегодня,2021/03/19/
494725,«Спутник V» зарегистрировали на Сейшелах,17:50 — Сегодня,2021/03/19/

In [124]:
information.tail(900)

,Title,Time,Date,dt,dtt
493826,«Спартак» заинтересовался 100-килограммовым ам...,22:42 — 16 марта,2021-03-16,2021/03/16/ 22:42 — 16 марта,2021/03/16/
493827,Италия и Франция заявили о готовности возобнов...,23:12 — 16 марта,2021-03-16,2021/03/16/ 23:12 — 16 марта,2021/03/16/
493828,США анонсировали санкции против России из-за «...,23:59 — 16 марта,2021-03-16,2021/03/16/ 23:59 — 16 марта,2021/03/16/
493829,«Союзные республики послали Москву на три букв...,00:0117 марта,2021-03-17,2021/03/17/ 00:0117 марта,2021/03/17/
493830,Скопинский маньяк и Собчак встретились в ресто...,00:11 — 17 марта,2021-03-17,2021/03/17/ 00:11 — 17 марта,2021/03/17/
...,...,...,...,...,...
494721,ФСБ поймала преступников с миллионами рублей и...,16:43 — Сегодня,2021-03-19,2021/03/19/ 16:43 — Сегодня,2021/03/19/
494722,Лукашенко раскрыл подробности «обещания» Путин...,17:07 — Сегодня,2021-03-19,2021/03/19/ 17:07 — Сегодня,2021/03/19/
494723,Nvidia выпустила видеокарту для майнинга,17:22 — Сегодня,2021-03-19,2021/03/19/ 17:22 — Сегодня,2021/03/19/
494724,Путин утвердил пятерку нового состава ЦИК,17:35 — Сегодня,2021-03-19,2021/03/19/ 17:35 — Сегодня,2021/03/19/
494725,«Спутник V» зарегистрировали на Сейшелах,17:50 — Сегодня,2021-03-19,2021/03/19/ 17:50 — Сегодня,2021/03/19/

In [94]:
import datetime

In [100]:
information['Date'] = pd.to_datetime(information['Date'])

In [104]:
result = information[['Title', 'Date']]

In [106]:
result.shape

(494726, 2)

result.to_csv('Lenta_news.csv')